body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.neon-line {
    height: 2px; /* Thickness of the line */
    background-color: #6cfa6c; /* Dark neon green color */
    box-shadow: 0 0 10px #00FF00, 0 0 20px #00FF00, 0 0 30px #00FF00; /* Neon glow effect */
    width: 100%; /* Make it run widthwise across the screen */
}

.maui-container {
    margin: 20px;
    line-height: 1.6;
    max-width: 1200px;    
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: 20px;
    font-size: 1.5em; 
    color: #92da20;
    -webkit-text-stroke-width: .05px;
    -webkit-text-stroke-color: rgb(119, 72, 131);
}

a {
    color: #92da20;  
}

.hidden {
    display: none;
}

.maui-image, .maui-video {
    max-width: 80%; /* Adjust to desired max width */
    max-height: 50vh; /* Adjust to desired max height */
    height: auto;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #da6630;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 15px 0;
    box-shadow: 5px 5px 15px rgba(34, 139, 34, 0.7);
}

.maui-float-right {
    float: right;
    margin-left: 20px;  /* provides some spacing between the image and the text */
    margin-bottom: 20px; /* provides some spacing below the image if the text is shorter */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.maui-float-text-left {
    align-self: flex-start; 
    padding-top: 20vh; 
}

.maui-image-center-container {
    display: flex;
    justify-content: center; /* Centers children horizontally */
    align-items: center;     /* Centers children vertically */
    margin: 0;   
}

.maui-image-columns-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Defines 4 equal columns for desktop */
    gap: 20px; /* Space between images */
    width: 100%; /* Ensure the container takes the full width available */
    justify-content: center; /* Center the grid items */
}

.maui-column-image {
    max-width: 90%; /* Set a max-width to the images, so they don't take full width */
    margin: 0 auto; /* Center the image within its grid cell */
}

.maui-float-image-left-container {
    display: flex;            /* Enables Flexbox */
    align-items: center;      
}

.maui-float-text-right {
    text-align: justify;        /* Justifies the text to the right */
    margin-left: 20px;        /* Space between the image and the text */
    flex: 1;   
}

.maui-image-table-container {
    display: flex;
    flex-wrap: wrap;  /* Allow the images to wrap to the next line */
    justify-content: space-between;  /* Space the images evenly */
}

.maui-table-image {
    width: 300px;  /* Slightly less than half to account for potential margins or padding */
    margin-bottom: 2%;  /* Adds some space between rows */
}

.maui-image-pair-container {
    display: flex;
    flex-wrap: wrap;  /* This will allow the images to wrap to the next line on smaller screens */
    justify-content: space-between;  /* This will provide space between the images */
    padding: 20px;  /* Space from the images to the edge of the screen */
}

.detour-image-container {
    display: flex;
    flex-wrap: wrap;  /* This will allow the images to wrap to the next line on smaller screens */
    justify-content: space-between;  /* This will provide space between the images */
    padding: 20px;  /* Space from the images to the edge of the screen */
}

.detour-image-container .maui-image:first-child {
    margin-right: 10px; /* Adds space to the right of the first image */
}

.detour-image-container .maui-image:last-child {
    margin-left: 10px; /* Adds space to the left of the second image */
}

.detour-image {
    width: calc(50% - 20px);  /* Each image will take up half of the container width minus half of the desired space between the images */
    height: auto;  /* Maintain the image's aspect ratio */
}

#maui-revealButton-container {
    text-align: center; /* Center the button horizontally */
    padding: 20px; /* Add some space around the container */
}

#revealButton {
    background-color: #008000; /* Lush tropical green background */
    color: #FFFFFF; /* White text color */
    font-size: 18px;
    padding: 15px 30px; /* Vertical and horizontal padding for the button */
    border: 2px solid #DDA0DD; /* Plum border */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Change cursor to hand on hover */
    position: relative; /* To position the pseudo-elements (for neon effect) */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect and shadow */
    overflow: hidden; /* Keep pseudo-elements (for neon effect) within the button boundaries */
    outline: none; /* Remove focus outline which browsers apply by default */
    box-shadow: 1px 1px 10px #99f345; /* Blood-orange drop shadow */
}

/* Neon effect using pseudo-elements */
#revealButton::before, 
#revealButton::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid #00FF00; /* Neon green color */
    border-radius: 8px;
    opacity: 0.7;
    z-index: -1;
    box-shadow: 0 0 20px #00FF00, 0 0 30px #00FF00, 0 0 40px #00FF00, 0 0 50px #00FF00;
}

/* Hover effect */
#revealButton:hover {
    background-color: #006400; /* Darker green on hover */
    box-shadow: 2px 2px 12px #f879f8; /* Enhance the blood-orange drop shadow on hover */
}

/* Enhance the neon effect on hover */
#revealButton:hover::before, 
#revealButton:hover::after {
    box-shadow: 0 0 30px #00FF00, 0 0 40px #00FF00, 0 0 50px #00FF00, 0 0 60px #00FF00, 0 0 70px #00FF00;
}

#homeButton {
    background-color: #004d00; /* Subdued tropical green background */
    color: #FFFFFF; /* White text color */
    font-size: 18px;
    padding: 15px 30px; /* Vertical and horizontal padding for the button */
    border: 2px solid #8B008B; /* Darker Plum border */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Change cursor to hand on hover */
    position: relative; /* To position the pseudo-elements (for subdued effect) */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect and shadow */
    overflow: hidden; /* Keep pseudo-elements (for subdued effect) within the button boundaries */
    outline: none; /* Remove focus outline which browsers apply by default */
    box-shadow: 1px 1px 10px #b0401f; /* Subdued blood-orange drop shadow */
    display: none; /* Will be displayed by JavaScript */
    margin: 0 auto; /* Centers the button widthwise on the screen */
}

/* Subdued effect using pseudo-elements */
#homeButton::before, 
#homeButton::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid #006400; /* Subdued green color */
    border-radius: 8px;
    opacity: 0.5;
    z-index: -1;
    box-shadow: 0 0 15px #006400, 0 0 20px #006400, 0 0 25px #006400;
}

/* Hover effect */
#homeButton:hover {
    background-color: #003300; /* Even darker green on hover */
    box-shadow: 2px 2px 12px #993333; /* Enhance the subdued drop shadow on hover */
}

/* Enhance the subdued effect on hover */
#homeButton:hover::before, 
#homeButton:hover::after {
    box-shadow: 0 0 20px #006400, 0 0 25px #006400, 0 0 30px #006400;
}

@media screen and (max-width: 768px) {
    .maui-container {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .maui-image, .maui-video {
        
        
    }

    .maui-float-right {        
        max-width: 60vw;
    }

    .maui-float-right-mobile {
        margin-top: 15vh;
    }

    .maui-float-text-left {        
        padding-top: 1vh; 
    }

    .maui-image-columns-container {
        grid-template-columns: 1fr; 
    }

    .maui-float-image-left {
        max-width: 40%;  /* Limit the width of the image */
        margin-right: 10px;  /* Space between the image and the text */
    }

    .maui-table-image {
        width: 100%
    }

    .detour-image {
        width: 100%;  /* Images will take up the full width of the container */
        margin-bottom: 20px;  /* Adds some space between images when they stack */
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .maui-image, .maui-video {
        
        
    }
}

@media screen and (min-width: 1025px) {
    .maui-image, .maui-video {
        
        
    }
}